body {
    display: flex;
    justify-content: center;
    color: #999;
}

.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 530px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border: 1px solid green;
}