
.cards_container {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}
.card {
    margin-right: 5px;
    width: 40px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mastercard {
    background-image: url(/src/img/mastercard.jpg);
}
.mir {
    background-image: url(/src/img/mir.jpg);
}
.visa {
    background-image: url(/src/img/visa.png);
}
.ae {
    background-image: url(/src/img/ae.png);
}
.discover {
    background-image: url(/src/img/discover.jpg);
}
.maestro {
    background-image: url(/src/img/maestro.png);
}
.diners-club {
    background-image: url(/src/img/diners-club.png);
}
.jsb {
    background-image: url(/src/img/jsb.png);
}
.blanc {
    background-image: url(/src/img/blanc.png);
}
.validation {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-top: 10px;
    padding-left: 30px;
}
.val_field {
    width: 200px;
    height: 40px;
    border: 1px solid rgb(192, 189, 189);
    border-radius: 5px;
}
.val_field:focus {
    outline: none;
}
.val_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(62, 161, 62);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none; 
    outline: none;
}